.TopBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #aaccff;
    color: #0c0000;
    padding: 0 40px;
    height: 50px;
    width: 98%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 4px;
    border: 1px solid #f9f9fa;
}

.Logo h1 {
    margin: 0;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #20005c;
}

.Books, .Authors {
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #f9f9fa;
    border-radius: 4px;
}

.Books h2, .Authors h2 { 
    margin: 0;
    font-size: 1.1rem;
    font-weight: normal;
}