<table mat-table [dataSource]="authors" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let author"> {{author.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let author"> {{author.name}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let author">
      <button mat-raised-button color="accent" (click)="showDetails(author.id)">Books By Author</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>




<!-- Author Detail Section -->
<div *ngIf="selectedAuthorDetail">
  <h3>{{selectedAuthorDetail.authorName}}</h3>
  <p>{{selectedAuthorDetail.authorBio}}</p>
  <h4>Books:</h4>
  <ul>
    <li *ngFor="let book of selectedAuthorDetail.books">
      {{book.title}} ({{book.price | currency}})
    </li>
  </ul>
</div>